extends layout
block content
    - if (anime){var animeData = anime.data();}
    article
        header
            h4=animeData.title
        div.grid.columns-2-auto
            img(src=animeData.imageLink, alt="anime cover" style="justify-self: center;height:300px")
            div
                p(style="text-align:justify;")= animeData.sumary
                p= animeData.credits
                div.grid
                    p Episodios: #{animeData.episodes}
                    p Color: 
                        span(style=`color: ${animeData.primaryColor};`) #{animeData.primaryColor.toUpperCase()}
                p= animeData.tags
                div.grid.center
                    a(href=animeData.downloadLink role="button") Descargar
                    a(href=animeData.discordMessageLink) Discord link
                br
                div.grid.center
                    a(href=animeData.malLink) MyAnimeList
                    a(href=animeData.anilistLink) AniList
                br
                div.grid
                    span Subido: #{animeData.createdAt}
                    if animeData.updatedAt
                        span Actualizado: #{animeData.updatedAt}

                button.outline.contrast(onclick=`deleteAnime("${anime.id}")`) Eliminar
    script(src="/scripts/bot-api.js")
